@model SistemaGestaoCantinasIgrejas.Models.Evento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.igreja.denominacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.igreja.denominacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Retornar aos eventos</a>
</div>
